.contract-search{
    display: flex;
    gap: 25px;
    align-items: center;
}

.slide-toggles{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.search-boxes {
    display: flex;
    gap: 10px;
}
.search-box-complete{
    display: flex;
    flex-direction: row;
    gap:5px;
    max-height: 78px;
}

.srch-button{
    width: 100%;
    display: flex;
    justify-content: end;
    align-self: center;
}
.search-results{
    display: flex;
    flex-direction: column;
    gap: 10px;
}